# OS
.DS_Store
*.swp
*.swo
.vscode
.idea

# Build
vendor
.vendor-new
build

# IDE
.idea/
*.iml

# Tests
/scripts/nohup.out
/scripts/signedTx.json
/scripts/unsignedTx.json
/tests/signedTx.json
/tests/unsignedTx.json

# misc
nohup.out
keysAliceBob.log
